flow
[
    {
        "id": "164f144c.cb50cc",
        "type": "tab",
        "label": "Weather Observations Website",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2c7409a1.df33f6",
        "type": "debug",
        "z": "164f144c.cb50cc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1281,
        "y": 494,
        "wires": []
    },
    {
        "id": "972dad17.a70ad",
        "type": "inject",
        "z": "164f144c.cb50cc",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 108,
        "y": 209,
        "wires": [
            [
                "7d2de0c.0ae8a2"
            ]
        ]
    },
    {
        "id": "5ea0accc.247634",
        "type": "function",
        "z": "164f144c.cb50cc",
        "name": "combine sensors",
        "func": "msg.siteid = \"123456789\";\nmsg.auth = \"123456789\";\nmsg.url = \"http://wow.metoffice.gov.uk/automaticreading?\";\nmsg.payload = \"siteid=\" + msg.siteid + \"&siteAuthenticationKey=\" + msg.auth + \"&dateutc=\" + msg.payload.dateutc + \"&humidity=\" + msg.payload.humidity + \"&baromin=\" + msg.payload.pressure + \"&tempf=\" + msg.payload.temp + \"&dewptf=\" + msg.payload.dewpoint +\"&softwaretype=weathersoftware1.0\";\nmsg.url = msg.url+msg.payload;\nreturn msg;\n\n\n//softhttp://wow.metoffice.gov.uk/automaticreading?siteid=123456&siteAuthenticationKey=654321&dateutc=2011-02-02+10%3A32%3A55&winddir=230&windspeedmph=12&windgustmph=12&windgustdir=25&humidity=90&dewptf=68.2&tempf=70&rainin=0&dailyrainin=5&baromin=29.1&soiltempf=25&soilmoisture=25&visibility=25&softwaretype=weatherware1.0",
        "outputs": 1,
        "noerr": 0,
        "x": 1044,
        "y": 450,
        "wires": [
            [
                "2c7409a1.df33f6",
                "e9828ed6.1bfec"
            ]
        ]
    },
    {
        "id": "b6f5374a.1a5618",
        "type": "mqtt in",
        "z": "164f144c.cb50cc",
        "name": "Climate:Temp",
        "topic": "/Climate/BME280/Temperature",
        "qos": "0",
        "broker": "ba80ab3d.961428",
        "x": 190,
        "y": 367,
        "wires": [
            [
                "a71adadf.9db468",
                "51eed76a.a40b18"
            ]
        ]
    },
    {
        "id": "259944e1.27285c",
        "type": "mqtt in",
        "z": "164f144c.cb50cc",
        "name": "Climate:Hum",
        "topic": "/Climate/BME280/Humidity",
        "qos": "0",
        "broker": "ba80ab3d.961428",
        "x": 164,
        "y": 544,
        "wires": [
            [
                "51eed76a.a40b18",
                "351f43e0.eb6acc",
                "df92ff78.21a92"
            ]
        ]
    },
    {
        "id": "2a98f880.642ee8",
        "type": "mqtt in",
        "z": "164f144c.cb50cc",
        "name": "Climate:Pressure",
        "topic": "/Climate/BME280/Pressure",
        "qos": "0",
        "broker": "ba80ab3d.961428",
        "x": 214,
        "y": 719,
        "wires": [
            [
                "4cf28efa.ffe1b"
            ]
        ]
    },
    {
        "id": "e867d58c.27fe98",
        "type": "join",
        "z": "164f144c.cb50cc",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 850,
        "y": 450,
        "wires": [
            [
                "532a2709.1225e8",
                "5ea0accc.247634"
            ]
        ]
    },
    {
        "id": "532a2709.1225e8",
        "type": "debug",
        "z": "164f144c.cb50cc",
        "name": "joined",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1006,
        "y": 495,
        "wires": []
    },
    {
        "id": "300c3f9b.5c628",
        "type": "change",
        "z": "164f144c.cb50cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "dateutc",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 661,
        "y": 210,
        "wires": [
            [
                "869eece6.6f86b",
                "e867d58c.27fe98"
            ]
        ]
    },
    {
        "id": "869eece6.6f86b",
        "type": "debug",
        "z": "164f144c.cb50cc",
        "name": "date utc",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 847,
        "y": 209,
        "wires": []
    },
    {
        "id": "e9828ed6.1bfec",
        "type": "http request",
        "z": "164f144c.cb50cc",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 1279,
        "y": 449,
        "wires": [
            [
                "e02429dc.5cea98"
            ]
        ]
    },
    {
        "id": "e02429dc.5cea98",
        "type": "debug",
        "z": "164f144c.cb50cc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1494,
        "y": 449,
        "wires": []
    },
    {
        "id": "7d2de0c.0ae8a2",
        "type": "moment",
        "z": "164f144c.cb50cc",
        "name": "",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/London",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "YYYY-MM-DD%20HH:mm:ss",
        "locale": "en_GB",
        "output": "",
        "outputType": "msg",
        "outTz": "Europe/London",
        "x": 296,
        "y": 210,
        "wires": [
            [
                "6a1c48d3.603158"
            ]
        ]
    },
    {
        "id": "6a1c48d3.603158",
        "type": "change",
        "z": "164f144c.cb50cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$replace(payload, \":\", \"%3A\")\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 493,
        "y": 210,
        "wires": [
            [
                "300c3f9b.5c628"
            ]
        ]
    },
    {
        "id": "a71adadf.9db468",
        "type": "function",
        "z": "164f144c.cb50cc",
        "name": "to F",
        "func": "msg.payload = msg.payload*1.8+32\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 376,
        "y": 319,
        "wires": [
            [
                "1587a23.d47655e",
                "254194ed.7be4ec"
            ]
        ]
    },
    {
        "id": "1587a23.d47655e",
        "type": "debug",
        "z": "164f144c.cb50cc",
        "name": "Farenheit",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 630,
        "y": 366,
        "wires": []
    },
    {
        "id": "4cf28efa.ffe1b",
        "type": "function",
        "z": "164f144c.cb50cc",
        "name": "to inhg",
        "func": "msg.payload = msg.payload*0.029529983071445\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 432,
        "y": 718,
        "wires": [
            [
                "63a3736a.36575c",
                "762de9e6.81d928"
            ]
        ]
    },
    {
        "id": "63a3736a.36575c",
        "type": "debug",
        "z": "164f144c.cb50cc",
        "name": "inhg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 622,
        "y": 731,
        "wires": []
    },
    {
        "id": "151af142.e100cf",
        "type": "function",
        "z": "164f144c.cb50cc",
        "name": "",
        "func": "//where Td is dew point temperature (in degrees Celsius), \n//T is observed temperature (in degrees Celsius), \n//and RH is relative humidity (in percent). \n//Td = T - ((100 - RH)/5.)\n\nmsg.payload = (msg.payload[\"/Climate/BME280/Temperature\"]-((100-msg.payload[\"/Climate/BME280/Humidity\"])/5))*1.8+32\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 482,
        "y": 448,
        "wires": [
            [
                "bcb58ece.ad347",
                "d8da4723.70a2d8"
            ]
        ]
    },
    {
        "id": "bcb58ece.ad347",
        "type": "debug",
        "z": "164f144c.cb50cc",
        "name": "dewpoint",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 630,
        "y": 487,
        "wires": []
    },
    {
        "id": "51eed76a.a40b18",
        "type": "join",
        "z": "164f144c.cb50cc",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 337,
        "y": 448,
        "wires": [
            [
                "151af142.e100cf"
            ]
        ]
    },
    {
        "id": "351f43e0.eb6acc",
        "type": "debug",
        "z": "164f144c.cb50cc",
        "name": "hum",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 338,
        "y": 600,
        "wires": []
    },
    {
        "id": "d8da4723.70a2d8",
        "type": "change",
        "z": "164f144c.cb50cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "dewpoint",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 638,
        "y": 447,
        "wires": [
            [
                "e867d58c.27fe98"
            ]
        ]
    },
    {
        "id": "762de9e6.81d928",
        "type": "change",
        "z": "164f144c.cb50cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pressure",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 638,
        "y": 689,
        "wires": [
            [
                "e867d58c.27fe98"
            ]
        ]
    },
    {
        "id": "254194ed.7be4ec",
        "type": "change",
        "z": "164f144c.cb50cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "temp",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 325,
        "wires": [
            [
                "e867d58c.27fe98"
            ]
        ]
    },
    {
        "id": "df92ff78.21a92",
        "type": "change",
        "z": "164f144c.cb50cc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "humidity",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 641,
        "y": 539,
        "wires": [
            [
                "e867d58c.27fe98"
            ]
        ]
    },
    {
        "id": "ba80ab3d.961428",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqttbrokername",
        "broker": "https://brokerip",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]
