flow
[{"id":"501635bc.ac104c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b0d64755.6edb28","type":"inject","z":"501635bc.ac104c","name":"site ID","topic":"siteid","payload":"\"123456789\"","payloadType":"env","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":290,"y":100,"wires":[["67b6e082.9cb65","56f57bc2.645a74"]]},{"id":"9e385f8d.2643e","type":"inject","z":"501635bc.ac104c","name":"Authentication Key","topic":"siteAuthenticationKey","payload":"98764531","payloadType":"env","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":160,"wires":[["67b6e082.9cb65","56f57bc2.645a74"]]},{"id":"9c76a526.d72bf8","type":"moment","z":"501635bc.ac104c","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/London","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-mm-DD+HH%3Amm%3Ass","locale":"sv_SE","output":"date","outputType":"msg","outTz":"Europe/London","x":376,"y":275,"wires":[["67b6e082.9cb65","56f57bc2.645a74"]]},{"id":"67b6e082.9cb65","type":"debug","z":"501635bc.ac104c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":973,"y":235,"wires":[]},{"id":"792892e1.72353c","type":"inject","z":"501635bc.ac104c","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":129,"y":268,"wires":[["9c76a526.d72bf8"]]},{"id":"4cb1063a.ac16d8","type":"comment","z":"501635bc.ac104c","name":"Date Format","info":"The date must be in the following format: \nYYYY-mm-DD HH:mm:ss, where ':' is encoded as %3A, \nand the space is encoded as either '+' or %20. \n\nAn example, valid date would be: 2011-02-29+10%3A32%3A55, \nfor the 2nd of Feb, 2011 at 10:32:55. \n\nNote that the time is in 24 hour format. \nAlso note that the date must be adjusted to UTC time - \nequivalent to the GMT time zone.. \n\nThis is especially important for users outside the UK, \nand British users must also take note of the difference \nbetween British Summer Time and UTC","x":385,"y":440,"wires":[]},{"id":"cc3581c3.63b22","type":"comment","z":"501635bc.ac104c","name":"Example URL","info":"http://wow.metoffice.gov.uk/automaticreading?siteid=123456&siteAuthenticationKey=654321&dateutc=2011-02-02+10%3A32%3A55&winddir=230&windspeedmph=12&windgustmph=12&windgustdir=25&humidity=90&dewptf=68.2&tempf=70&rainin=0&dailyrainin=5&baromin=29.1&soiltempf=25&soilmoisture=25&visibility=25&softwaretype=weathersoftware1.0","x":606,"y":440,"wires":[]},{"id":"f153a904.4409f8","type":"comment","z":"501635bc.ac104c","name":"Weather Data","info":"Unit Key | Value | Unit\n------------ | -------------\nbaromin | Barometric Pressure (see note) | Inch of Mercury\ndailyrainin | Accumulated rainfall so far today | Inches\ndewptf | Outdoor Dewpoint | Fahrenheit\nhumidity | Outdoor Humidity | 0-100 %\nrainin | Accumulated rainfall since the previous observation | Inches\nsoilmoisture | % Moisture | 0-100 %\nsoiltempf | Soil Temperature (10cm) | Fahrenheit\ntempf | Outdoor Temperature | Fahrenheit\nvisibility | Visibility | Kilometres\nwinddir | Instantaneous Wind Direction | Degrees (0-360)\nwindspeedmph | Instantaneous Wind Speed | Miles per Hour\nwindgustdir | Current Wind Gust Direction (using software specific time period) | 0-360 degrees\nwindgustmph | Current Wind Gust (using software specific time period) | Miles per Hour","x":838,"y":444,"wires":[]},{"id":"56f57bc2.645a74","type":"function","z":"501635bc.ac104c","name":"","func":"msg.url =\"http://wow.metoffice.gov.uk/automaticreading?\";\nmsg.payload = \"siteid=\" + msg.siteid + \"&siteAuthenticationKey=\" + msg.siteAuthenticationKey + \"&dateutc=\" + msg.date;\nreturn msg;\n\n\n//http://wow.metoffice.gov.uk/automaticreading?siteid=123456&siteAuthenticationKey=654321&dateutc=2011-02-02+10%3A32%3A55&winddir=230&windspeedmph=12&windgustmph=12&windgustdir=25&humidity=90&dewptf=68.2&tempf=70&rainin=0&dailyrainin=5&baromin=29.1&soiltempf=25&soilmoisture=25&visibility=25&softwaretype=weathersoftware1.0","outputs":1,"noerr":0,"x":716,"y":159,"wires":[["67b6e082.9cb65"]]},{"id":"e6b5c501.24f508","type":"template","z":"501635bc.ac104c","name":"","field":"siteid","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{12345678}} !","output":"str","x":170,"y":344,"wires":[["56f57bc2.645a74"]]}]
